Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Library
Pay.userprefs
Pay-csharp.sln
Pay.sln
Temp
ProjectSettings
Assets/Plugins/Android/src/com/android/vending.meta
Assets/Plugins/Android/src/com/android.meta
Assets/Plugins/Android/src/com/android/vending/billing/IInAppBillingService.aidl.meta
Assets/Plugins/Android/src/com/android/vending/billing.meta
Assets/Plugins/Android/src/com/uiap/util
Assets/Plugins/Android/src/com/uiap/MainActivity.java.meta
Assets/Plugins/Android/src/com/uiap/util/Base64.java.meta
Assets/Plugins/Android/src/com/uiap/util/Base64DecoderException.java.meta
Assets/Plugins/Android/src/com/uiap/util/IabException.java.meta
Assets/Plugins/Android/src/com/uiap/util/IabHelper.java.meta
Assets/Plugins/Android/src/com/uiap/util/IabResult.java.meta
Assets/Plugins/Android/src/com/uiap/util/Inventory.java.meta
Assets/Plugins/Android/src/com/uiap/util/Purchase.java.meta
Assets/Plugins/Android/src/com/uiap/util/Security.java.meta
Assets/Plugins/Android/src/com/uiap/util/SkuDetails.java.meta
Assets/Plugins/Android/src/com/uiap/util.meta
Assets/Plugins/Android/src/com/uiap.meta
Assets/Plugins/Android/src/com.meta
Assets/Plugins/IOS/IOSManager.h.meta
Assets/Plugins/IOS/IOSManager.mm.meta
Assets/Plugins/IOS/ios.h.meta
Assets/Plugins/IOS/ios.mm.meta
